.footer {
  text-align: center;
  padding: 5rem;
}

.footer-heading {
  font-family: "Sacramento", cursive;
  font-size: 2rem;
  font-weight: 550;
}

.footer-text {
  font-family: "Abel", sans-serif;
}

.footer-socials {
  font-size: 1.5rem;
  padding: 1rem 0;
}

.footer-icons {
  padding: 0 1rem;
}
